.App {
  text-align: center;
}

.center{
  display: flex;
  justify-content: center;
}

.right {
  position: absolute;
  right: 50px;
}

.left {
  position: absolute;
  left: 300px;
}

.tilt {
	transform: rotate(10deg);
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container img {
  width: 450px;
  height: 600px;
  margin: 10px;
  border-color: brown;
  transition: all 1s;
}

img:hover {
  transform: scale(1.1);
}

.white-box {
    background-color: white;
    color: black;
    margin-right: 200px;
    margin-left: 200px;
    border-radius: 10px;
    padding: 5px;
}

.borderimg {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(images/border.png) 30 round;
}